body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(uad.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.form-container {
    width: 40%;
    margin: auto;
    background-color: rgb(0, 0, 0, 0.4);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(7, 6, 6);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.form-group input {
    width: 97%;
    padding: 10px;
    border: 0px solid #cccccc;
    border-radius: 4px;
    font-size: 1em;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.error {
    color: red;
    font-size: 0.875em;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}
